<a
  [routerLink]="href"
  class="group relative flex justify-between items-center gap-2 overflow-hidden pb-1 cursor-pointer whitespace-nowrap"
  [ngClass]="class"
>
  <span
    class="text-base font-medium transition-all duration-300"
    [ngClass]="{ 'group-hover:text-gray-400': animation === 'scale' }"
  >
    <ng-content></ng-content>
  </span>

  @if (showIcon) {
    <img
      [src]="
        iconSrc ? iconSrc : isWhite ? 'icons/arrow-up-right.svg' : 'icons/arrow-up-right-black.svg'
      "
      alt=""
      class="w-4 h-4 transition-transform duration-300"
    />
  }

  @if (animation === 'default') {
    <span
      class="absolute bottom-0 left-0 h-[1px] w-full transition-transform duration-500 ease-in-out group-hover:translate-x-[110%]"
      [ngClass]="isWhite ? 'bg-white' : 'bg-black'"
    ></span>
    <span
      class="absolute bottom-0 left-0 h-[1px] w-full -translate-x-[110%] transition-transform duration-500 ease-in-out group-hover:translate-x-0"
      [ngClass]="isWhite ? 'bg-white' : 'bg-black'"
    ></span>
  }

  @if (animation === 'slide-up') {
    <span
      class="absolute bottom-0 left-0 h-[1px] w-full scale-x-0 transition-transform duration-500 ease-in-out group-hover:scale-x-100"
      [ngClass]="isWhite ? 'bg-white' : 'bg-black'"
    ></span>
  }

  @if (animation === 'scale') {
    <span
      class="absolute bottom-0 left-0 h-[2px] w-0 transition-all duration-300 ease-in-out group-hover:w-full"
      [ngClass]="isWhite ? 'bg-white' : 'bg-black'"
    ></span>
  }
</a>
