<div class="w-full h-screen relative overflow-hidden bg-black">
  <div class="absolute z-0 inset-0">
    <img
      src="images/home-image-6-scaled.jpg"
      alt="Simuero Hero"
      (load)="onImageLoad()"
      [ngClass]="isImageLoaded ? 'opacity-75 blur-0 scale-100' : 'opacity-0 blur-2xl scale-110'"
      class="w-full h-full object-cover object-top transition-all duration-1000 ease-out"
    />
  </div>

  <div
    class="w-full h-full flex flex-col items-center justify-start relative text-white py-24 px-6"
  >
    <div class="max-w-3xl text-base md:text-lg text-center leading-relaxed space-y-4 md:space-y-1">
      <p class="font-medium">Creating, Crafting & Wearing.</p>
      <p class="md:indent-6">
        Our core is craftsmanship and daily conversation with our tools. We thrive on teamwork, the
        pursuit of excellence, while maintaining the freedom to decide when and how to launch
        collections, guided always by intuition and our own evolution.
      </p>
    </div>

    <div class="mt-[30%] sm:mt-[20%] md:mt-[12%] flex flex-col items-center gap-4 md:gap-6 w-full">
      <div class="flex items-baseline gap-2 font-source font-medium tracking-tight">
        <span class="text-5xl sm:text-7xl md:text-8xl lg:text-9xl font-oswald uppercase"
          >Simuero</span
        >
      </div>

      <app-link [href]="heroLink" class="text-white" [isWhite]="true">Shop now</app-link>
    </div>
  </div>
</div>
